<!DOCTYPE html>
<html>
   <meta charset="UTF-8">
   <title>Agenda.ge News Category Classifier Home</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <body>
      <h3>News Category Classifier</h3>
      <br>
      <a class="home" target="_top" href="start">Click to start!</a>
   </body>
   <footer>
      <br>
      <a href="https://github.com/matomoniwano/News-Category-Classifier/" class="fa fa-github"></a>
   </footer>
</html>